{% extends "public/templates/public_template.html" %}

{% block title %}dashboard{% endblock %}

{% block main %}

<div class="container">
    <h1>DashBoard</h1>
    <hr>
    <h2>Monthly Budget</h2>
    <div class="row">
        <div class="col-md-4">
            <form method="POST" action="">
                <!-- adds a csrf(cross-site request forgery) token -->
                {{ depositform.hidden_tag() }}
                <p>Track Deposits</p>
                <hr>
                <div class="form-group">
                    {{ depositform.deposit.label(class="form-control-label") }}
                    {{ depositform.deposit(class="form-control form-control-lg") }}
                    {{ depositform.deposit.data }}
                </div>
                <div class="registerbtn">
                    {{ depositform.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
        <div class="col-md-8">
            <form method="POST" , action="">
                {{ spendingform.hidden_tag() }}
                <p>Track Withdrawals</p>
                <hr>
                <div class="row">
                    <div class="form-group col">
                        {{ spendingform.category.label(class="form-control-label") }}
                        {{ spendingform.category(class="form-control form-control-lg") }}
                        {{ spendingform.category.data }}
                    </div>
                    <div class="form-group col">
                        {{ spendingform.amount.label(class="form-control-label") }}
                        {{ spendingform.amount(class="form-control form-control-lg") }}
                        {{ spendingform.amount.data }}
                    </div>
                </div>
                <div class="registerbtn">
                    {{ spendingform.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
    </div>

    <h2>Cashflow Statement</h2>
    <table>
        <tr>
            <th>Deposits</th>
            <th>Categories</th>
            <th>Withdrawals</th>
        </tr>
        {% for row in result %}
        <tr>
        {% for cell in row %}
        <td>
            {% if cell == None %}
                {{ "-" }}
            {% else %}
                {{ cell }}
            {% endif %}
        </td>
        {% endfor %}
        </tr>
        {% endfor %}
    </table>

</div>

{% endblock %}