.header {
    padding: 5px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-group {
  width: 100%;
  padding: 15px;
  padding-left: 0px;
  padding-right: 0px;
  display: inline-block;
  outline: none;
}

.form-check {
  margin-left: 15px;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 20px;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue; 
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  width: 100%;
  text-align: center;
  padding: 0;
}

table {
  border: 1px solid #f1f1f1;
  border-spacing: 0;
  background-color: #f1f1f1
}

.table_row:nth-child(even) {
  background-color: #e5e5e5;
}

.table_header {
  text-align: left;
}

.table_cell {
  padding: 10px;
  text-align: center;
}

.link {
  text-align: right;
}

.table_row_1 {
  background-color: #dc4c28;
  font-weight: bolder;
  color: white;
}